.movie_poster {
  float: right;
  padding-right: 10px;
}


.italicize {
  font-style: italic;
  font-size: 11px;
}

h1 {

    background-color: #b0c4de;
}

p {
  http://fonts.googleapis.com/css?family=Inconsolata
 font-style: italic;
  font-size: 15px;


}
