<!DOCTYPE html>
<html>
<head>
  <title>MmsApp</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <main role="main" class="container">
  <div class="row">
    <div class="col-lg-12">

<%= yield %>

</body>
</main>
</html>
